<%= form_tag (patch_form ? "/users/#{user.id}" : '/users') do %>
  <% if patch_form %>
    <input type="hidden" name="_method" value="patch" autocomplete="off">
  <% end %>
  
  <div>
    <%= label_tag :user_username, 'Username', style: 'display:block;' %>
    <%= text_field_tag 'user[username]', user.username, value: (user.username || @sample_username) %>
  </div>

  <div>
    <%= label_tag :user_email, 'Email', style: 'display:block;' %>
    <%= email_field_tag 'user[email]', user.email, placeholder: 'example@example.com' %>
  </div>

  <div>
    <%= label_tag :user_password, 'Password', style: 'display:block;' %>
    <%= password_field_tag 'user[password]', user.password %>
  </div>

  <div>
    <%= submit_tag 'Submit', name: nil %>
  </div>
<% end %>
